USE [master]
GO
/****** Object:  Database [t6_6_78]    Script Date: 3/30/2025 1:44:41 AM ******/
CREATE DATABASE [t6_6_78]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N't6_6_78', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGUYENMAI\MSSQL\DATA\t6_6_78.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N't6_6_78_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGUYENMAI\MSSQL\DATA\t6_6_78_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [t6_6_78].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [t6_6_78]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[product_id] [int] NULL,
	[accessory_id] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Sum_quantity]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Sum_quantity] as
 select customer_id, product_id,accessory_id, sum(quantity) as Quantity from [Cart] 
 group by  customer_id, product_id,accessory_id
GO
/****** Object:  Table [dbo].[Accessory]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessory](
	[accessory_id] [int] IDENTITY(1,1) NOT NULL,
	[accessory_name] [nvarchar](max) NULL,
	[accessory_price] [float] NULL,
	[img_path] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[status] [int] NULL,
	[brand_id] [int] NULL,
	[category_id] [int] NULL,
	[version] [nvarchar](max) NULL,
	[color_id] [int] NULL,
	[release_year] [int] NULL,
 CONSTRAINT [PK_Accessory] PRIMARY KEY CLUSTERED 
(
	[accessory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_name] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[password] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[gender] [int] NULL,
	[phone] [nchar](10) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](max) NULL,
	[category_img] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_News]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_News](
	[cnews_id] [int] NOT NULL,
	[cnews_name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cnews_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[color_id] [int] IDENTITY(1,1) NOT NULL,
	[color_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[new_id] [int] NULL,
	[customer_id] [int] NULL,
	[content] [nvarchar](max) NULL,
	[date_created] [nchar](10) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentP]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentP](
	[commentp_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[customer_id] [int] NULL,
	[content] [nvarchar](max) NULL,
	[date_created] [nchar](10) NULL,
	[status] [int] NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_CommentP] PRIMARY KEY CLUSTERED 
(
	[commentp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](255) NULL,
	[role] [int] NULL,
	[email] [nvarchar](100) NULL,
	[password] [nvarchar](50) NULL,
	[status] [int] NULL,
	[dob] [date] NULL,
	[gender] [int] NULL,
	[phone] [nvarchar](10) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[customer_id] [int] NULL,
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[date_created] [date] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice Maintain]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice Maintain](
	[maintain_role] [int] NOT NULL,
	[details] [nvarchar](max) NOT NULL,
	[date] [datetime] NULL,
	[staff_id] [int] NULL,
	[maintain_id] [int] NOT NULL,
	[price] [float] NULL,
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[status] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintain]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintain](
	[maintain_id] [int] IDENTITY(1,1) NOT NULL,
	[mncom_id] [int] NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[description] [nvarchar](max) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Maintain] PRIMARY KEY CLUSTERED 
(
	[maintain_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manage Computers]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manage Computers](
	[mncom_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[customer_id] [int] NULL,
 CONSTRAINT [PK_Manage Computers] PRIMARY KEY CLUSTERED 
(
	[mncom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[new_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NULL,
	[title] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[date_created] [date] NULL,
	[img_path] [nvarchar](max) NULL,
	[comment_id] [int] NULL,
	[view_number] [int] NULL,
	[react_id] [int] NULL,
	[cnews_id] [int] NULL,
	[status] [int] NULL,
	[tags_id] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[new_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News_Tags]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News_Tags](
	[news_id] [int] NOT NULL,
	[tags_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[news_id] ASC,
	[tags_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_details]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_details](
	[details_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[accessory_id] [int] NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Order_details] PRIMARY KEY CLUSTERED 
(
	[details_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[staff_id] [int] NULL,
	[order_date] [date] NULL,
	[note] [nvarchar](max) NULL,
	[shipping_id] [int] NULL,
	[total_price] [float] NULL,
	[status] [int] NULL,
	[status_payment] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](max) NULL,
	[price] [float] NULL,
	[img_path] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[category_id] [int] NULL,
	[quantity] [int] NULL,
	[version] [nvarchar](max) NULL,
	[color_id] [int] NULL,
	[release_year] [int] NULL,
	[brand_id] [int] NULL,
	[status] [int] NULL,
	[commentp_id] [int] NULL,
	[first_price] [float] NULL,
	[import_price] [float] NULL,
	[discount] [float] NULL,
	[quantity_hold] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_accessory]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_accessory](
	[accessory_id] [int] NULL,
	[product_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[React]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[React](
	[react_id] [int] IDENTITY(1,1) NOT NULL,
	[news_id] [int] NULL,
	[status] [int] NULL,
	[customer_id] [int] NULL,
 CONSTRAINT [PK_React] PRIMARY KEY CLUSTERED 
(
	[react_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[shipping_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[phone] [nchar](10) NULL,
	[address] [nvarchar](max) NULL,
	[tax] [float] NULL,
	[customer_id] [int] NULL,
	[email] [nvarchar](100) NULL,
	[roleAddress] [int] NULL,
 CONSTRAINT [PK_Shipping] PRIMARY KEY CLUSTERED 
(
	[shipping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_name] [nvarchar](255) NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](50) NOT NULL,
	[dob] [date] NULL,
	[gender] [int] NULL,
	[role_id] [int] NULL,
	[img_path] [nvarchar](max) NULL,
	[phone] [nchar](10) NULL,
	[address] [nvarchar](max) NULL,
	[identity_number] [nvarchar](50) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 3/30/2025 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[tags_id] [int] IDENTITY(1,1) NOT NULL,
	[tags_name] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tags_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accessory] ON 

INSERT [dbo].[Accessory] ([accessory_id], [accessory_name], [accessory_price], [img_path], [description], [quantity], [status], [brand_id], [category_id], [version], [color_id], [release_year]) VALUES (1, N'Dell Wireless Mouse', 19.99, N'https://file.hstatic.net/200000722513/file/chuot_aa348bf0177b4795a39ab66d51e62ed7.jpg', N'Dell wireless mouse with ergonomic design and high precision.', 100, 1, 1, 13, N'N/A', 1, 2023)
INSERT [dbo].[Accessory] ([accessory_id], [accessory_name], [accessory_price], [img_path], [description], [quantity], [status], [brand_id], [category_id], [version], [color_id], [release_year]) VALUES (2, N'HP Wireless Mouse', 19.99, N'https://file.hstatic.net/200000722513/file/chuot_aa348bf0177b4795a39ab66d51e62ed7.jpg', N'HP wireless mouse with ergonomic design and high precision.', 100, 1, 2, 13, N'N/A', 1, 2023)
INSERT [dbo].[Accessory] ([accessory_id], [accessory_name], [accessory_price], [img_path], [description], [quantity], [status], [brand_id], [category_id], [version], [color_id], [release_year]) VALUES (3, N'Lenovo Wireless Mouse', 19.99, N'https://file.hstatic.net/200000722513/file/chuot_aa348bf0177b4795a39ab66d51e62ed7.jpg', N'Lenovo wireless mouse with ergonomic design and high precision.', 100, 1, 3, 13, N'N/A', 1, 2023)
SET IDENTITY_INSERT [dbo].[Accessory] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([admin_id], [admin_name], [email], [password], [dob], [gender], [phone]) VALUES (3, N'admin', N'admin@gmail.com', N'4vVfvr8BK94vhdUXzpoWozk7iM4=', CAST(N'2003-04-12' AS Date), 0, N'0988550995')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (1, N'Dell')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (2, N'HP')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (3, N'Lenovo')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [category_img]) VALUES (1, N'Laptop', NULL)
INSERT [dbo].[Category] ([category_id], [category_name], [category_img]) VALUES (2, N'Destop', NULL)
INSERT [dbo].[Category] ([category_id], [category_name], [category_img]) VALUES (3, N'Tablet', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Category_News] ([cnews_id], [cnews_name]) VALUES (1, N'SHOP BY DEPARTMENT')
INSERT [dbo].[Category_News] ([cnews_id], [cnews_name]) VALUES (2, N'Banner')
INSERT [dbo].[Category_News] ([cnews_id], [cnews_name]) VALUES (3, N'Banner Right')
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([color_id], [color_name]) VALUES (1, N'Sliver')
INSERT [dbo].[Color] ([color_id], [color_name]) VALUES (2, N'Black')
INSERT [dbo].[Color] ([color_id], [color_name]) VALUES (3, N'Blue')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([comment_id], [new_id], [customer_id], [content], [date_created], [status]) VALUES (1, 38, 1, N'Hello', N'2024-06-22', 2)
INSERT [dbo].[Comment] ([comment_id], [new_id], [customer_id], [content], [date_created], [status]) VALUES (2, 38, 1, N'Hi', N'2024-06-22', 2)
INSERT [dbo].[Comment] ([comment_id], [new_id], [customer_id], [content], [date_created], [status]) VALUES (3, 38, 1, N'Ditmemay
', N'2024-06-22', 1)
GO
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentP] ON 

INSERT [dbo].[CommentP] ([commentp_id], [product_id], [customer_id], [content], [date_created], [status], [rating]) VALUES (1, 10, 1, N'hi', N'2024-07-02', 2, NULL)
INSERT [dbo].[CommentP] ([commentp_id], [product_id], [customer_id], [content], [date_created], [status], [rating]) VALUES (2, 10, 1, N'halo', N'2024-07-02', 1, NULL)
INSERT [dbo].[CommentP] ([commentp_id], [product_id], [customer_id], [content], [date_created], [status], [rating]) VALUES (3, 10, 1, N'10 diem', N'2024-07-02', 1, NULL)
SET IDENTITY_INSERT [dbo].[CommentP] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [customer_name], [role], [email], [password], [status], [dob], [gender], [phone]) VALUES (1, N'Danh Thái', 1, N'thaildhe172591@fpt.edu.vn', N'4vVfvr8BK94vhdUXzpoWozk7iM4=', 1, CAST(N'2003-04-12' AS Date), 1, N'0988555555')
INSERT [dbo].[Customer] ([customer_id], [customer_name], [role], [email], [password], [status], [dob], [gender], [phone]) VALUES (2, N'Dung', 1, N'dmvkl1242003@gmail.com', N'4vVfvr8BK94vhdUXzpoWozk7iM4=', 1, CAST(N'2003-04-12' AS Date), 1, N'3870478191')
INSERT [dbo].[Customer] ([customer_id], [customer_name], [role], [email], [password], [status], [dob], [gender], [phone]) VALUES (3, N'Danh Thái', 1, N'thaitho1242003@gmail.com', N'Thai12042003@@', 1, CAST(N'2003-06-23' AS Date), 0, N'0988550995')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([customer_id], [feedback_id], [rating], [comment], [date_created]) VALUES (1, 1, 5, N'hello', NULL)
INSERT [dbo].[Feedback] ([customer_id], [feedback_id], [rating], [comment], [date_created]) VALUES (1, 2, 2, N'hi', NULL)
INSERT [dbo].[Feedback] ([customer_id], [feedback_id], [rating], [comment], [date_created]) VALUES (1, 3, 2, N'vlpnnn', NULL)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice Maintain] ON 

INSERT [dbo].[Invoice Maintain] ([maintain_role], [details], [date], [staff_id], [maintain_id], [price], [invoice_id], [status]) VALUES (0, N'Man hinh bi loi', CAST(N'2024-02-07T00:00:00.000' AS DateTime), NULL, 4, 1000, 1, 1)
INSERT [dbo].[Invoice Maintain] ([maintain_role], [details], [date], [staff_id], [maintain_id], [price], [invoice_id], [status]) VALUES (1, N'vl', CAST(N'2024-08-09T00:00:00.000' AS DateTime), NULL, 4, 249, 2, 0)
INSERT [dbo].[Invoice Maintain] ([maintain_role], [details], [date], [staff_id], [maintain_id], [price], [invoice_id], [status]) VALUES (1, N'adu', CAST(N'2024-07-28T00:00:00.000' AS DateTime), NULL, 4, 1234, 3, 0)
SET IDENTITY_INSERT [dbo].[Invoice Maintain] OFF
GO
SET IDENTITY_INSERT [dbo].[Maintain] ON 

INSERT [dbo].[Maintain] ([maintain_id], [mncom_id], [date], [time], [description], [status]) VALUES (1, 2, CAST(N'2024-07-16' AS Date), CAST(N'10:04:00' AS Time), N'', 1)
INSERT [dbo].[Maintain] ([maintain_id], [mncom_id], [date], [time], [description], [status]) VALUES (2, 2, CAST(N'2024-07-25' AS Date), CAST(N'23:36:00' AS Time), N'', 1)
INSERT [dbo].[Maintain] ([maintain_id], [mncom_id], [date], [time], [description], [status]) VALUES (3, 2, CAST(N'2024-07-25' AS Date), CAST(N'23:38:00' AS Time), N'', 1)
SET IDENTITY_INSERT [dbo].[Maintain] OFF
GO
SET IDENTITY_INSERT [dbo].[Manage Computers] ON 

INSERT [dbo].[Manage Computers] ([mncom_id], [product_id], [customer_id]) VALUES (1, 10, 7)
INSERT [dbo].[Manage Computers] ([mncom_id], [product_id], [customer_id]) VALUES (2, 10, 10)
INSERT [dbo].[Manage Computers] ([mncom_id], [product_id], [customer_id]) VALUES (3, 10, 10)
SET IDENTITY_INSERT [dbo].[Manage Computers] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([new_id], [staff_id], [title], [content], [description], [date_created], [img_path], [comment_id], [view_number], [react_id], [cnews_id], [status], [tags_id]) VALUES (1, NULL, N'All Categories', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[News] ([new_id], [staff_id], [title], [content], [description], [date_created], [img_path], [comment_id], [view_number], [react_id], [cnews_id], [status], [tags_id]) VALUES (2, NULL, N'Best Seller Products', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[News] ([new_id], [staff_id], [title], [content], [description], [date_created], [img_path], [comment_id], [view_number], [react_id], [cnews_id], [status], [tags_id]) VALUES (3, NULL, N'Top 10 Offers', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
INSERT [dbo].[News_Tags] ([news_id], [tags_id]) VALUES (48, 5)
INSERT [dbo].[News_Tags] ([news_id], [tags_id]) VALUES (48, 6)
INSERT [dbo].[News_Tags] ([news_id], [tags_id]) VALUES (48, 7)
GO
SET IDENTITY_INSERT [dbo].[Order_details] ON 

INSERT [dbo].[Order_details] ([details_id], [order_id], [product_id], [accessory_id], [quantity]) VALUES (13, 1, 10, NULL, 1)
INSERT [dbo].[Order_details] ([details_id], [order_id], [product_id], [accessory_id], [quantity]) VALUES (14, 2, 3, NULL, 1)
INSERT [dbo].[Order_details] ([details_id], [order_id], [product_id], [accessory_id], [quantity]) VALUES (15, 3, 10, NULL, 1)
SET IDENTITY_INSERT [dbo].[Order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [customer_id], [staff_id], [order_date], [note], [shipping_id], [total_price], [status], [status_payment]) VALUES (1, 1, 5, CAST(N'2024-07-07' AS Date), N'hi', 1, 799.989990234375, 2, 0)
INSERT [dbo].[Orders] ([order_id], [customer_id], [staff_id], [order_date], [note], [shipping_id], [total_price], [status], [status_payment]) VALUES (2, 1, 5, CAST(N'2024-07-07' AS Date), N'hi', 1, 499, 3, 1)
INSERT [dbo].[Orders] ([order_id], [customer_id], [staff_id], [order_date], [note], [shipping_id], [total_price], [status], [status_payment]) VALUES (3, 10, 5, CAST(N'2024-07-08' AS Date), N'', 2, 799, 3, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [product_name], [price], [img_path], [description], [category_id], [quantity], [version], [color_id], [release_year], [brand_id], [status], [commentp_id], [first_price], [import_price], [discount], [quantity_hold]) VALUES (1, N'Dell Inspiron 15 3000', 8500000, N'image\acer.jpg', N'Laptop Dell Inspiron 15 3000 series với CPU Intel Core i5, RAM 8GB, SSD 256GB.', 5, 19, N'3000 series', 1, 2023, 1, 1, NULL, 10000000, 10000000, 15, 4)
INSERT [dbo].[Product] ([product_id], [product_name], [price], [img_path], [description], [category_id], [quantity], [version], [color_id], [release_year], [brand_id], [status], [commentp_id], [first_price], [import_price], [discount], [quantity_hold]) VALUES (2, N'HP Pavilion 15', 8500000, N'image\lap.jpg', N'Laptop HP Pavilion 15 với CPU Intel Core i5, RAM 8GB, HDD 1TB.', 5, 30, N'15 series', 1, 2022, 2, 1, NULL, 10000000, 10000000, 15, 0)
INSERT [dbo].[Product] ([product_id], [product_name], [price], [img_path], [description], [category_id], [quantity], [version], [color_id], [release_year], [brand_id], [status], [commentp_id], [first_price], [import_price], [discount], [quantity_hold]) VALUES (3, N'Lenovo IdeaPad 3', 8500000, N'image\laptop-12.jpg', N'Laptop Lenovo IdeaPad 3 với CPU AMD Ryzen 5, RAM 8GB, SSD 256GB.', 5, 40, N'3 series', 1, 2021, 3, 1, NULL, 10000000, 10000000, 15, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[React] ON 

INSERT [dbo].[React] ([react_id], [news_id], [status], [customer_id]) VALUES (1, 38, 1, 1)
INSERT [dbo].[React] ([react_id], [news_id], [status], [customer_id]) VALUES (2, 38, 0, 2)
INSERT [dbo].[React] ([react_id], [news_id], [status], [customer_id]) VALUES (15, 41, 1, 1)
SET IDENTITY_INSERT [dbo].[React] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[role] ([role_id], [role_name]) VALUES (2, N'Sale Manager')
INSERT [dbo].[role] ([role_id], [role_name]) VALUES (3, N'Warehouse')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([shipping_id], [name], [phone], [address], [tax], [customer_id], [email], [roleAddress]) VALUES (1, N'Luu Danh Thai', N'0988550995', N'thai binh', 0, 1, N'thaildhe172591@fpt.edu.vn', 1)
INSERT [dbo].[Shipping] ([shipping_id], [name], [phone], [address], [tax], [customer_id], [email], [roleAddress]) VALUES (2, N'Luu Danh Thai', N'0988550995', N'Binh Duong', 0, 10, N'mainthe173286@fpt.edu.vn', 0)
INSERT [dbo].[Shipping] ([shipping_id], [name], [phone], [address], [tax], [customer_id], [email], [roleAddress]) VALUES (3, N'Thai', N'0988550995', N'Thai Binh', 0, 10, N'mainthe173286@fpt.edu.vn', 1)
SET IDENTITY_INSERT [dbo].[Shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([staff_id], [staff_name], [email], [password], [dob], [gender], [role_id], [img_path], [phone], [address], [identity_number]) VALUES (1, N'Thai Adam', N'thai@staff.com', N'4vVfvr8BK94vhdUXzpoWozk7iM4=', CAST(N'2003-04-12' AS Date), 0, 4, N'./img1/staff_1.png', N'0387048191', N'Ha Noi', N'034203008165')
INSERT [dbo].[Staff] ([staff_id], [staff_name], [email], [password], [dob], [gender], [role_id], [img_path], [phone], [address], [identity_number]) VALUES (2, N'Dung', N'dung@staff.com', N'4vVfvr8BK94vhdUXzpoWozk7iM4=', CAST(N'2003-04-12' AS Date), 1, 3, N'./img1/staff_2.png', N'0387048191', N'Ha Noi', N'034203008166')
INSERT [dbo].[Staff] ([staff_id], [staff_name], [email], [password], [dob], [gender], [role_id], [img_path], [phone], [address], [identity_number]) VALUES (3, N'Mai', N'mai@staff.com', N'4vVfvr8BK94vhdUXzpoWozk7iM4=', CAST(N'2003-10-23' AS Date), 0, 2, N'./img1/staff_3.png', N'0901769961', N'Ha Noi', N'0387048192')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([tags_id], [tags_name]) VALUES (1, N'Computer Components')
INSERT [dbo].[Tags] ([tags_id], [tags_name]) VALUES (2, N'Laptops')
INSERT [dbo].[Tags] ([tags_id], [tags_name]) VALUES (3, N'Accessories')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Accessory_Brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [FK_Accessory_Brand]
GO
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Accessory_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [FK_Accessory_Category]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Accessory] FOREIGN KEY([accessory_id])
REFERENCES [dbo].[Accessory] ([accessory_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Accessory]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_cusid] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_cusid]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Customer]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_News] FOREIGN KEY([new_id])
REFERENCES [dbo].[News] ([new_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_News]
GO
ALTER TABLE [dbo].[CommentP]  WITH CHECK ADD  CONSTRAINT [FK_CommentP_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[CommentP] CHECK CONSTRAINT [FK_CommentP_Customer]
GO
ALTER TABLE [dbo].[CommentP]  WITH CHECK ADD  CONSTRAINT [FK_CommentP_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[CommentP] CHECK CONSTRAINT [FK_CommentP_Product]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Customer]
GO
ALTER TABLE [dbo].[Invoice Maintain]  WITH CHECK ADD  CONSTRAINT [FK_Invoice Maintain_Maintain] FOREIGN KEY([maintain_id])
REFERENCES [dbo].[Maintain] ([maintain_id])
GO
ALTER TABLE [dbo].[Invoice Maintain] CHECK CONSTRAINT [FK_Invoice Maintain_Maintain]
GO
ALTER TABLE [dbo].[Invoice Maintain]  WITH CHECK ADD  CONSTRAINT [FK_Invoice Maintain_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Invoice Maintain] CHECK CONSTRAINT [FK_Invoice Maintain_Staff]
GO
ALTER TABLE [dbo].[Maintain]  WITH CHECK ADD  CONSTRAINT [FK_Maintain_Manage Computers] FOREIGN KEY([mncom_id])
REFERENCES [dbo].[Manage Computers] ([mncom_id])
GO
ALTER TABLE [dbo].[Maintain] CHECK CONSTRAINT [FK_Maintain_Manage Computers]
GO
ALTER TABLE [dbo].[Manage Computers]  WITH CHECK ADD  CONSTRAINT [FK_Manage Computers_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Manage Computers] CHECK CONSTRAINT [FK_Manage Computers_Customer]
GO
ALTER TABLE [dbo].[Manage Computers]  WITH CHECK ADD  CONSTRAINT [FK_Manage Computers_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Manage Computers] CHECK CONSTRAINT [FK_Manage Computers_Product]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_cate] FOREIGN KEY([cnews_id])
REFERENCES [dbo].[Category_News] ([cnews_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_cate]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_React] FOREIGN KEY([react_id])
REFERENCES [dbo].[React] ([react_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_React]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Staff]
GO
ALTER TABLE [dbo].[News_Tags]  WITH CHECK ADD FOREIGN KEY([news_id])
REFERENCES [dbo].[News] ([new_id])
GO
ALTER TABLE [dbo].[News_Tags]  WITH CHECK ADD FOREIGN KEY([news_id])
REFERENCES [dbo].[News] ([new_id])
GO
ALTER TABLE [dbo].[News_Tags]  WITH CHECK ADD FOREIGN KEY([tags_id])
REFERENCES [dbo].[Tags] ([tags_id])
GO
ALTER TABLE [dbo].[News_Tags]  WITH CHECK ADD FOREIGN KEY([tags_id])
REFERENCES [dbo].[Tags] ([tags_id])
GO
ALTER TABLE [dbo].[Order_details]  WITH CHECK ADD  CONSTRAINT [FK_Order_details_Accessory] FOREIGN KEY([accessory_id])
REFERENCES [dbo].[Accessory] ([accessory_id])
GO
ALTER TABLE [dbo].[Order_details] CHECK CONSTRAINT [FK_Order_details_Accessory]
GO
ALTER TABLE [dbo].[Order_details]  WITH CHECK ADD  CONSTRAINT [FK_Order_details_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Order_details] CHECK CONSTRAINT [FK_Order_details_Orders]
GO
ALTER TABLE [dbo].[Order_details]  WITH CHECK ADD  CONSTRAINT [FK_Order_details_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Order_details] CHECK CONSTRAINT [FK_Order_details_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Shipping] FOREIGN KEY([shipping_id])
REFERENCES [dbo].[Shipping] ([shipping_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Shipping]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Staff]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Color] FOREIGN KEY([color_id])
REFERENCES [dbo].[Color] ([color_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Color]
GO
ALTER TABLE [dbo].[Product_accessory]  WITH CHECK ADD  CONSTRAINT [FK_Product_accessory_Accessory] FOREIGN KEY([accessory_id])
REFERENCES [dbo].[Accessory] ([accessory_id])
GO
ALTER TABLE [dbo].[Product_accessory] CHECK CONSTRAINT [FK_Product_accessory_Accessory]
GO
ALTER TABLE [dbo].[Product_accessory]  WITH CHECK ADD  CONSTRAINT [FK_Product_accessory_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product_accessory] CHECK CONSTRAINT [FK_Product_accessory_Product]
GO
ALTER TABLE [dbo].[React]  WITH CHECK ADD  CONSTRAINT [FK_React_News] FOREIGN KEY([news_id])
REFERENCES [dbo].[News] ([new_id])
GO
ALTER TABLE [dbo].[React] CHECK CONSTRAINT [FK_React_News]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [fk_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [fk_customer]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [fk_customer_shipping] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [fk_customer_shipping]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Role]
GO
USE [master]
GO
